@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,50,700,900");
html, body {
  font-family: "roboto";
  background-color: #232526;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  border: 5px solid rgba(255, 255, 255, 0.05);
  box-sizing: border-box;
  transition: 0.5s;
}
html:active, body:active {
  transition: 0s;
  border: 5px solid rgba(255, 255, 255, 0.1);
}

.infos {
  position: absolute;
  left: 40px;
  top: 40px;
}
.infos h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 1px;
  line-height: 1.2;
}
.infos h3 {
  font-weight: 500;
  color: #FF5353;
}

.blocks {
  color: white;
}
.blocks .row {
  display: flex;
}
.blocks .block {
  width: 100px;
  height: 100px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s 0.1s;
  cursor: pointer;
  margin: 12px;
}
.blocks .block:active, .blocks .block.active {
  transition: 0s;
  background-color: #fff;
  color: black;
}
.blocks .block.block1 {
  box-shadow: 0px 0px 35px rgba(255, 83, 83, 0.2);
  background-color: transparent;
  border: 1px solid #ff6d6d;
}
.blocks .block.block1:hover {
  background-color: rgba(255, 83, 83, 0.3);
  box-shadow: 0px 0px 35px rgba(255, 83, 83, 0.5);
}
.blocks .block.block1:active, .blocks .block.block1.active {
  background-color: #FF5353;
  box-shadow: 0px 0px 35px #FF5353;
}
.blocks .block.block2 {
  box-shadow: 0px 0px 35px rgba(255, 196, 41, 0.2);
  background-color: transparent;
  border: 1px solid #ffcb43;
}
.blocks .block.block2:hover {
  background-color: rgba(255, 196, 41, 0.3);
  box-shadow: 0px 0px 35px rgba(255, 196, 41, 0.5);
}
.blocks .block.block2:active, .blocks .block.block2.active {
  background-color: #FFC429;
  box-shadow: 0px 0px 35px #FFC429;
}
.blocks .block.block3 {
  box-shadow: 0px 0px 35px rgba(0, 63, 255, 0.2);
  background-color: transparent;
  border: 1px solid #1a52ff;
}
.blocks .block.block3:hover {
  background-color: rgba(0, 63, 255, 0.3);
  box-shadow: 0px 0px 35px rgba(0, 63, 255, 0.5);
}
.blocks .block.block3:active, .blocks .block.block3.active {
  background-color: #003fff;
  box-shadow: 0px 0px 35px #003fff;
}
.blocks .block.block4 {
  box-shadow: 0px 0px 35px rgba(255, 237, 237, 0.2);
  background-color: transparent;
  border: 1px solid white;
}
.blocks .block.block4:hover {
  background-color: rgba(255, 237, 237, 0.3);
  box-shadow: 0px 0px 35px rgba(255, 237, 237, 0.5);
}
.blocks .block.block4:active, .blocks .block.block4.active {
  background-color: #ffeded;
  box-shadow: 0px 0px 35px #ffeded;
}

.inputStatus {
  margin-top: 10px;
}
.inputStatus .circle {
  width: 6px;
  height: 6px;
  display: inline-block;
  background-color: white;
  opacity: 0.3;
  margin: 5px;
  border-radius: 50%;
}
.inputStatus .circle.correct {
  opacity: 1;
}
.inputStatus.correct .circle {
  background-color: #003fff;
}
.inputStatus.wrong .circle {
  background-color: #FF5353;
}